$black: #000000;
$black-hover: #16181c;
$blue-light: #1e9bf0;
$blue-light-hover: #4e85d5;
$blue-light-hover-rgba: rgba(29, 155, 240, 0.1) ;
$blue-light-disable: #1d9bf0;
$white: #ffffff;
$gray-border: #2f3336;
$gray-font: #71767b;
$gray-background: #202327;