@import 'colors';

.hover-blue-dark {
    background-color: $black-hover;
    cursor: pointer;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-x-button {
    background-color: $blue-light;
    color: $white;
    font-weight: bold;
    border-radius: 624.938rem;

    &:hover {
        background-color: $blue-light-hover;
    }
}

.suggested-section {
    width: 80%;
    padding: 1rem 0;
    border-radius: 1.25rem;
    background-color: $gray-background;
    display: flex;
    flex-direction: column;
    margin-top: 1.25rem;
    color: $white;
}

.suggested-section-item {
    display: flex;
    padding: 1rem;
    box-sizing: border-box;
    line-height: 1.25rem;
    font-size: 0.938rem;

    &:hover {
        cursor: pointer;
        background-color: $gray-background;
    }
}