<div class="side-nav">
    <section id="section-x-options">
        <button class="side-nav__home" type="button">
            <img src="assets/images/png/twitter-x.png" alt="x-icon">
        </button>
        <ul class="side-nav__list">
            <li>
                <img src="assets/images/svg/home-icon.svg" alt="home-icon">
                Home
            </li>
            <li>
                <img src="assets/images/svg/search-white-icon.svg" alt="search-white-icon">
                Explore
            </li>
            <li>
                <img src="assets/images/svg/bell-icon.svg" alt="bell-icon">
                Notifications
            </li>
            <li>
                <img src="assets/images/svg/message-icon.svg" alt="message-icon">
                Messages
            </li>
            <li>
                <img src="assets/images/svg/list-icon.svg" alt="list-icon">
                Lists
            </li>
            <li>
                <img src="assets/images/svg/bookmark-icon.svg" alt="bookmark-icon">
                Bookmarks
            </li>
            <li>
                <img src="assets/images/svg/users-icon.svg" alt="users-icon">
                Communities
            </li>
            <li>
                <img src="assets/images/png/twitter-x.png" alt="twitter-x-icon">
                Verified
            </li>
            <li>
                <img src="assets/images/svg/user-icon.svg" alt="user-icon">
                Profile
            </li>
            <li>
                <img src="assets/images/svg/more-horizontal-icon.svg" alt="more-horizontal-icon">
                More
            </li>
        </ul>
        <button class="side-nav__new-post" type="button">
            Post
        </button>
    </section>
    <section class="side-nav__user-information" id="section-user-information">
        <img src="assets/images/jpg/francisco-photo.jpg" alt="francisco-photo">
        <div class="username-container">
            <div>
                <span>Francisco Zambrano</span><span>@zsfrancisco</span>
            </div>
            <img src="assets/images/svg/ellipsis-icon.svg" alt="profile-options-button">
        </div>
    </section>
</div>