@import 'src/assets/scss';

:host {
    @extend .suggested-section-item;
}

span {
    font-size: 0.8rem;
}

.suggested-news-item {
    &__content {
        width: 75%;

        span {
            color: $gray-font;
            font-weight: 400;

            span {
                color: $blue-light;
            }
        }

        p {
            color: $white;
            margin: 0;
            font-weight: 700;
        }
    }

    &__image {
        width: 25%;

        img {
            width: 100%;
            height: auto;
            border-radius: 0.625rem;
        }
    }

    &__options {
        width: 30%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;

        img {
            width: 1.25rem;
            height: auto;
        }
    }
}