@import 'src/assets/scss';

body {
    background-color: $black;
    margin: 0;
    min-height: 100vh;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    &::-webkit-scrollbar {
        width: 0.625rem;
    }

    &::-webkit-scrollbar-track {
        background: $black;
    }

    &::-webkit-scrollbar-thumb {
        background: $gray-border;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: $gray-border;
    }
}

button {
    border: 0;
}