<div class="news-post-creation__photo">
    <img src="assets/images/jpg/francisco-photo.jpg" alt="francisco-photo">
</div>
<div class="news-post-creation__form">
    <section class="what-is-happening" id="what-is-happening-id">
        <span>What is happening?</span>
        <span>
            <img src="assets/images/svg/world-icon.svg" alt="world-icon"> Everyone can reply
        </span>
    </section>
    <section class="option-form" id="option-form-id">
        <div class="options">
            <img src="assets/images/svg/image-icon.svg" alt="image-icon">
            <img src="assets/images/svg/gif-icon.svg" alt="gif-icon">
            <img src="assets/images/svg/options-icon.svg" alt="options-icon">
            <img src="assets/images/svg/happy-icon.svg" alt="happy-icon">
            <img src="assets/images/svg/calendar-with-watch-icon.svg" alt="calendar-with-watch-icon">
            <img src="assets/images/svg/location-icon.svg" alt="location-icon">
        </div>
        <button class="create-post" type="button">
            Post
        </button>
    </section>
</div>